extends layout

block content
    #wrapper
        h1="Remote Button Panel"
        #container
            extends layout

            #status
                p="WARNING! This page hasn't connected to the server."

            h2="Test buttons"   
            .test_buttons
            
                .remoteButton.start_test
                    p.remoteButtonText START_TEST

                .remoteButton.end_test
                    p.remoteButtonText END_TEST

            h2="Performance 1"

            .p1

                .remoteButton.start_perf01
                    p.remoteButtonText START_P1

            
                .remoteButton.end_perf01
                    p.remoteButtonText END_P1
                
            h2="Performance 2"

            .p2

                .remoteButton.start_perf02
                    p.remoteButtonText START_P2

                .remoteButton.end_perf02
                    p.remoteButtonText END_P2

            h2="Performance 3"
            .p3
                .remoteButton.start_perf03
                    p.remoteButtonText START_P3

                .remoteButton.end_perf03
                    p.remoteButtonText END_P3

            h2="Performance 4"
            .p4
                
                .remoteButton.start_perf04
                    p.remoteButtonText START_P4

                .remoteButton.end_perf04
                    p.remoteButtonText END_P4

            h2="Performance 5"
            .p5
                .remoteButton.start_perf05
                    p.remoteButtonText START_P5

                .remoteButton.end_perf05
                    p.remoteButtonText END_P5

            h2="Performance 6"
            .p6
                .remoteButton.start_perf06
                    p.remoteButtonText START_P6

                .remoteButton.end_concert
                    .remoteButtonText END_CONCERT

            h2="Chimney"
            .chimney
                
                .remoteButton.start_chimney
                    p.remoteButtonText START_CHIMNEY
                .remoteButton.end_chimney
                    p.remoteButtonText END_CHIMNEY



    
    // /WRAPPER